body {
    box-sizing: border-box;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainImage {
    width: 40%;
    height: auto;
}

.weaponChoice {
    font-size: 30px;
    margin: 20px 0;
}

.buttonContainer {
    display: flex;
    gap: 40px;
}

.rock {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-image: url("img/rock.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    border-radius: 10px; 
    transition: transform 0.2s ease; 
}

.paper {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-image: url("img/paper.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    border-radius: 10px; 
    transition: transform 0.2s ease; 
}

.scissors {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-image: url("img/scissors.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border: none; 
    cursor: pointer; 
    outline: none; 
    border-radius: 10px; 
    transition: transform 0.2s ease; 
}

.container {
    margin: 20px 0;
    width: 40%;
    text-align: left;
}
